{% extends 'base.html' %}

{% block title %}Отчёты{% endblock %}

{% block content %}
    <div class="page-header">
        <h1 class="mb-0">Отчёты</h1>
    </div>

    <div class="row g-3">
        <div class="col-12 col-md-4">
            <a href="{% url 'attendance_report' %}" class="report-card">
                <h5>Посещаемость</h5>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a href="{% url 'performance_report' %}" class="report-card">
                <h5>Успеваемость</h5>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a href="{% url 'debtors_report' %}" class="report-card">
                <h5>Должники</h5>
            </a>
        </div>
    </div>
{% endblock %}
